{
	"redis_port": {{ semaphore_redis_port }},
	"redis_host": "{{ semaphore_redis_host }}",
	"redis_key": "{{ semaphore_redis_key }}",
	"use_analytics": {{ semaphore_use_analytics }},
	"is_ssl": {{ semaphore_is_ssl }},
	"newrelic_key": "{{ semaphore_newrelic_key }}",
	"bugsnag_key": "{{ semaphore_bugsnag_key }}",
	"smtp": {
		"user": "{{ semaphore_smtp_user }}",
		"pass": "{{ semaphore_smtp_pass }}"
	},
	"db": "{{ semaphore_mongo_db }}",
	"db_options": {
		"auto_reconnect": {{ semaphore_mongo_auto_reconn }},
		"native_parser": {{ semaphore_mongo_native_parser }},
		"server": {
			"auto_reconnect": {{ semaphore_mongo_srv_auto_reconn }}
		}
	},
	"port": {{ semaphore_port }}
}
